# environment variables for MQTT connector
MQTT_BROKER=broker.hivemq.com
MQTT_PORT=1883

MQTT_SOUND_TOPIC=taist/aiot/sound/
MQTT_HB_TOPIC=taist/aiot/heartbeat/
MQTT_CMD_TOPIC=taist/aiot/command/

# environment variables for device API
DEV_API_PORT=8000
DEV_API_URL=taist_mar_14-dev_api-1

# environment variables for user API
USER_API_PORT=8001
USER_API_URL=taist_mar_14-user_api-1

# environment variables for test API
TEST_API_PORT=8002

# environment variables for LINE bot
LINE_WEBHOOK_PORT=8003
LINE_CHANNEL_SECRET=YOUR_CHANNEL_SECRET
LINE_ACCESS_TOKEN=YOUR_CHANNEL_SECRET
LIFF_ID=YOUR_LIFF_ID

# environment variables for MongoDB
MONGO_HOST=taist_mar_14-mongo-1
MONGO_PORT=27017